body {
  font-family: 'Helvetica', sans-serif;
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
}

h1 {
  color: #ffffff;
  padding: 20px;
  margin-top: 20px;
}

/* Room Styling */
.room {
  border: 2px solid #00838f;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  background-color: #fff;
  width: 250px;
  display: inline-block;
}

.room h2 {
  color: #00838f;
  font-size: 24px;
  margin-bottom: 10px;
}

.room p.room-type {
  color: #616161;
  font-size: 18px;
  margin-bottom: 5px;
}

.room p.room-price {
  color: #4caf50;
  font-size: 16px;
}
