.box {
  background-color: lightblue;
  border: 1px solid green;
  border-radius: 10px;
  padding: 20px;
}
#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
