body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  top: 0px;
  width: 100%;
  background: linear-gradient(to top left, blue, red);

  /* background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  top: 0px;
  width: 100%;
  background: linear-gradient(to top left, blue, red) */
}

.overlay {
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  top: 130px;
  width: 70%;
}
.overlay:hover {
  filter: brightness(80%);
}

.overlay img {
  border-radius: 10px;
  display: block;
  width: 100%;
}

.text-overlay {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 30%;
}

.text-overlay h2,
.text-overlay p {
  margin: 0;
}
