.box {
  height: 150px;
  width: 150px;
  background-color: red;
  text-align: center;
  color: white;
  margin: 15px;
  font-size: 25px;

  line-height: 9rem;
}
body:hover .box {
  background-color: blueviolet;
  color: yellow;
  width: 300px;
}
.trans {
  transition-duration: 2s;
  transition-property: all;
}
.ease-in {
  transition-timing-function: ease-in;
}
.ease-out {
  transition-timing-function: ease-out;
}
.ease-in-out {
  transition-timing-function: ease-in-out;
}
.stepstart {
  transition-timing-function: step-start;
}
.stepend {
  transition-timing-function: step-end;
}
.steps {
  transition-timing-function: steps(5);
}
