.box {
  margin: auto;
  margin-top: 200px;
  padding: 10px;
  width: 150px;
  height: 150px;
  background-color: red;
  font-size: 24px;
  color: azure;
  text-align: center;
  border: solid black;
  border-width: 10px 5px;
  
}

body:hover .box {
    /* transform: rotate(90deg); */
    transform: scale(0.4, 1.5);
}
